<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arely Rosendes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script defer src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="icon" href="/static/images/AR-logo.jpg" type="image">
</head>
<body>

<div class="header">
    <a href="/" class="logo">
        <img src="{{ url_for('static', filename='images/AR-logo.jpg') }}" alt="Logo" />
    </a>
    <div class="header-right">
      <a href="/" class="home">Home</a>
      <a href="/projects" class="projects">Projects</a>
      <a href="#experience" class="experience">Experience</a>
      <a href="#skills" class="skills">Skills</a>
      <a href="/resume" class="resume">Resume</a>
    </div>
  </div>

<!-- Loading In Animation -->
<div class="content-wrapper">

<div class="background"></div>

<div class="intro-container">
    <div class="left">
        <img src="{{ url_for('static', filename='images/headshot.jpg') }}" alt="Arely's Picture" width="200">
        <div class="icons">
            <a href="https://github.com/arelyyrosendes" target="_blank">
                <img src="{{ url_for('static', filename='images/github.jpg') }}" alt="GitHub" width="60">
            </a>
            <a href="https://linkedin.com/in/arelyrosendes" target="_blank">
                <img src="{{ url_for('static', filename='images/linkedin.jpg') }}" alt="LinkedIn" width="60">
            </a>
            <a href="#" onclick="copyEmail()">
                <img src="{{ url_for('static', filename='images/email.jpg') }}" alt="Email" width="60">
            </a>
        </div>
    </div>
    <div class="right">
        <div class="right-text"><div id="typing"></div></div>
        <p class="right-text">My name is Arely Rosendes</p>
        <p class="right-text">I am a Computer Science student at UC Santa Cruz. I am particularly interested in the field of software development, with a focus on front-end development.
        I am thrilled by the limitless possibilities that Computer Science offers and am eager to explore them.</p>
    </div>
</div>

<div id="experience"></div>
<hr style="border: 1px solid #000000; width: 100%;">

<!-- Experience Section -->
<div class="center">
    <h1>Experience</h1>
    <h3>Click To Expand For More Information!</h3>
</div>

<div class="experience-container">
<!-- Expandable Section 1 -->
 <div class="each-experience-container">
<div class="button-row">
    <button class="expandable-button">
        <img src="{{ url_for('static', filename='images/llnl.jpg') }}" alt="LLNL Expand">
    </button>
    <div class="expandable-content">
        <h3>Lawrence Livermore National Laboratory</h3>
        <small>June 2024 - August 2024</small>
        <p><b>DevOps Intern</b></p>
        <p><small>Developed an AI user interface employing PaperQA with the Python library Gradio, enabling users to upload files and obtain cited, file-based answers to their questions. I implemented a conversation storage system to save and retrieve user interactions and utilized PyCharm for development, managing version control through Git and pushing code to GitLab. The application was deployed using GitLab and OpenShift, ensuring proper containerization of necessary files and leveraging GitLab Runners for efficient pipeline execution. Additionally, I integrated authentication features using OpenShift OAuth Proxy to provide secure access control.</small></p>
    </div>
</div>
</div>

<!-- Expandable Section 2 -->
<div class="each-experience-container">
    <div class="button-row">
    <button class="expandable-button">
        <img src="{{ url_for('static', filename='images/burlington.jpg') }}" alt="Target Expand">
    </button>
    <div class="expandable-content">
        <h3>Burlington</h3>
        <small>June 2022 - May 2024</small>
        <p><b>Front-End Supervisor</b></p>
        <p><small>Manage a team of 10 cashiers, ensuring efficient checkout operations, accurate transactions, and achieving a high customer
            rating, while collaborating with sales floor workers to maintain an organized and clean store environment.</small></p>
    </div>
    </div>
</div>

<!-- Expandable Section 3 -->
<div class="each-experience-container">
    <div class="button-row">
    <button class="expandable-button">
        <img src="{{ url_for('static', filename='images/target.jpg') }}" alt="Burlington Expand">
    </button>
    <div class="expandable-content">
        <h3>Target</h3>
        <small>December 2021 - Feburary 2022</small>
        <p><b>Guest Service Advocate</b></p>
        <p><small>Provided exceptional customer service by assisting an average of 200 guests per shift, while also managing over 150 daily
            drive-up and pick-up orders with a high on-time delivery rate and successfully managing cash handling duties.</small></p>
    </div>
    </div>
</div>

<!-- Expandable Section 4 -->
<div class="each-experience-container">
    <div class="button-row">
    <button class="expandable-button">
        <img src="{{ url_for('static', filename='images/ross.jpg') }}" alt="Ross Expand">
    </button>
    <div class="expandable-content">
        <h3>Ross</h3>
        <small>March 2021 - November 2021</small>
        <p><b>Front-End Cashier</b></p>
        <p><small>Achieved high customer satisfaction by effectively resolving inquiries and concerns, while also improving cashier schedules for increased productivity during peak hours.</small></p>
    </div>
</div>
</div>

<!-- Experience Container Ends -->
</div>

<div class="mega-gap-space"></div>

<div  id="skills"></div>
<hr style="border: 1px solid #000000; width: 100%;">

<!-- Skills Section -->
<div class="center">
    <h1>Skills</h1>
    <h3>Flip Cards For More Information!</h3>
</div>

<!-- Programming Languages Card -->
<div class="skills-container">
    <div class="each-skill-container">
        <div class="card">
            <div class="card-front">
                <h1>Programming Languages</h1>
                <div class="skills-text">
                    <img src="{{ url_for('static', filename='images/back-end.jpg') }}" alt="Skill Icon" width="100">
                </div>
            </div>
            <div class="card-back">
                <h4>Programming Languages:</h4>
                <div class="skills-text">
                    <p>Python</p>
                    <p>C/C++</p>
                    <p>Java</p>
                    <p>MIPS Assembly</p>
                    <p>Bash/Shell Scripting</p>
                    </div>
            </div>
        </div>
    </div>

<!-- Web & Development Tools Card -->
    <div class="each-skill-container">
        <div class="card">
            <div class="card-front">
                <h1>Web & Development</h1>
                <div class="skills-text">
                    <img src="{{ url_for('static', filename='images/front-end.jpg') }}" alt="Front End Logo" width="100">
                </div>
            </div>
            <div class="card-back">
                <h4>Web & Development Tools</h4>
                <div class="skills-text">
                    <p><b>Web:</b></p>
                    <p>HTML/CSS</p>
                    <p>Javascript</p>
                    <p><b>Tools:</b></p>
                    <p>VSCode</p>
                    <p>PyCharm</p>
                    <p>Mars MIPS IDE</p>
                    <p>XCode</p>
                </div>
            </div>
        </div>
    </div>

<!-- DevOps Tools Card -->
    <div class="each-skill-container">
        <div class="card">
            <div class="card-front">
                <h1>DevOps Tools</h1>
                <div class="skills-text">
                    <img src="{{ url_for('static', filename='images/designer.jpg') }}" alt="Front End Logo" width="100">
                </div>
            </div>
            <div class="card-back">
                <h4>DevOps Tools</h4>
                <div class="skills-text">
                    <p>Git</p>
                    <p>Gitlab</p>
                    <p>OpenShift</p>
                    <p>Kubernetes</p>
                    <p>Docker</p>
                    <p>OpenAPI</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gap-space"></div>


<hr style="border: 1px solid #000000; width: 100%;">

<!-- Animation End -->
</div>

</body>
</html>
