<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arely Rosendes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
    <script defer src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="icon" href="/static/images/AR-logo.jpg" type="image">
</head>
<body>

<div class="header">
    <a href="/" class="logo">
        <img src="{{ url_for('static', filename='images/AR-logo.jpg') }}" alt="Logo" />
    </a>
    <button class="menu-toggle" aria-label="Toggle navigation">&#9776;</button>

    <div class="header-right">
      <a href="/" class="home">Home</a>
      <a href="/projects" class="projects">Projects</a>
      <a href="/#experience" class="experience">Experience</a>
      <a href="/#skills" class="skills">Skills</a>
      <a href="/resume" class="resume">Resume</a>
    </div>
  </div>

<div class="project-list">
    <div class="center">
        <h2>My Projects</h2>
        <div id="typing_project"></div>
        
    </div>

    <div class="project-container">
        <div class="left">
            <img src="{{ url_for('static', filename='images/aquaventure.jpg') }}" alt="aquaventure" width="800">
        </div>
        <div class="right">
            <h3>AquaVenture Game</h3>
            <div class="right-text-projects">
                <p>This is the AquaVenture Game. This game is designed to educate the user on our marine life while creating a peaceful game. The aim of the game is for the user to collect pieces of trash displayed on the screen, and along the way, they may collide with pufferfish or goldfish and be given fun facts about these marine animals. The user gets to play as a submarine and move across the screen to collect the trash and reach the bottom of the screen, where they will then be prompted to continue to the next level.</p>
            </div>
                <div class="icons">
                <img src="{{ url_for('static', filename='images/asm-icon.jpg') }}" alt="ASM-Icon" width="55">
                <a href="https://github.com/arelyyrosendes/Aquaventure" target="_blank">
                    <img src="{{ url_for('static', filename='images/code.jpg') }}" alt="GitHub" width="100">
                </a>
            </div>
        </div>
    </div>

    <div class="project-container">
        <div class="left">
            <img src="{{ url_for('static', filename='images/CO2.jpg') }}" alt="aquaventure" width="800">
        </div>

        <div class="right">
            <h3>Carbon Footprint Calculator + Quiz</h3>
            <div class="right-text-projects">
                <p>This project includes two main features: a calculator and a climate change quiz. The calculator offers users a simple interface to answer questions about everyday habits, such as transportation, food choices, and electronics usage. Based on their responses, the program calculates a score to reflect the environmental impact of these activities. The quiz, aimed at raising climate change awareness, uses a directed acyclic graph (DAG) structure to present multiple-choice questions. Correct answers allow users to advance, while incorrect answers trigger follow-up questions. The quiz tracks scores, offers the option to quit, and includes a leaderboard to encourage engagement and learning.</p>
            </div>
            <div class="icons">
                <img src="{{ url_for('static', filename='images/c++-icon.jpg') }}" alt="ASM-Icon" width="55">
                <a href="https://github.com/arelyyrosendes/Carbon-Footprint-Calculator-Quiz" target="_blank">
                    <img src="{{ url_for('static', filename='images/code.jpg') }}" alt="GitHub" width="100">
                </a>
            </div>
        </div>
    </div>


    <div class="project-container">
        <div class="left">
            <img src="{{ url_for('static', filename='images/salesperson-calculator.jpg') }}" alt="aquaventure" width="800">
        </div>

        <div class="right">
            <h3>Salesperson Salary Calculator</h3>
            <div class="right-text-projects">
                <p>The SalaryCalculator calculates the total salary using a base salary of $200 and a 9% commission on sales. It tracks how many employees fall within specific salary ranges and displays this in a salary table. Additionally, it randomly generates motivational phrases like "Excellent!" to celebrate employee performance.</p>
            </div>
            <div class="icons">
            <img src="{{ url_for('static', filename='images/java-icon.jpg') }}" alt="ASM-Icon" width="55">
            <a href="https://github.com/arelyyrosendes/Salesperson-Salary-Calculator-Chart" target="_blank">
                <img src="{{ url_for('static', filename='images/code.jpg') }}" alt="GitHub" width="100">
            </a>
        </div>
        </div>
    </div>

    <div class="project-container">
        <div class="left">
            <video autoplay muted loop>
                <source src="{{ url_for('static', filename='videos/andys-website.mp4') }}" type="video/mp4" width="800">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="right">
            <h3>Website for Eelectrical Engineering Student</h3>
            <div class="right-text-projects">
                <p>Collaborated with an electrical engineering student to create a website portfolio that effectively showcases their personal projects, work experience, top skills, general skills, and provides easy access to their LinkedIn profile, GitHub, contact information, and resume.</p>
            </div>
            <div class="icons">
                <img src="{{ url_for('static', filename='images/html-icon.jpg') }}" alt="ASM-Icon" width="55">
                <a href="https://github.com/agonzalez85/andys-Website" target="_blank">
                    <img src="{{ url_for('static', filename='images/code.jpg') }}" alt="GitHub" width="100">
                </a>
            </div>
        </div>
    </div>

    <div class="project-container">
        <div class="left">
            <img src="{{ url_for('static', filename='images/pw-generator.jpg') }}" alt="aquaventure">
        </div>
        <div class="right">
            <h3>Random Password Generator</h3>
            <div class="right-text-projects">
                <p>This program allows you to create a secure and randomized password based on your preferences. You can specify the number of letters, symbols, and numbers to include in your password. The script then shuffles these characters to generate a unique password that enhances your security. Simply input your requirements, and let the script do the rest!</p>
            </div>
            <div class="icons">
                <img src="{{ url_for('static', filename='images/python-icon.jpg') }}" alt="ASM-Icon" width="55">
                <a href="https://github.com/arelyyrosendes/Random-Password-Generator" target="_blank">
                    <img src="{{ url_for('static', filename='images/code.jpg') }}" alt="GitHub" width="100">
                </a>
            </div>
        </div>
    </div>

</div>

</body>
</html>
